@charset "UTF-8";

body {
	margin:0;
	padding:0;
	text-align: center;
	height:100%;
	
}


.header {
	text-align:center;
	width:100%;
	height:60;
	background-color: white;
	
	padding:0;
	margin:0;
	
}

.base1 {
	
	width: 960px;
	height: 100%;
	margin:auto;
	
}

.div_logo {
	
	
}

.navbar {
	width:140px;
	float:left;
	padding:0;
	margin:0;
	height:400px;
}

.content {
	padding:20px;
	margin:auto;
	height :100%;
	width:780px;
	float:left;
}

ul li{
	background-color:white;
	padding:20px;
	width:100%;
	list-style-type:none;
	
	
}
ul {
	margin:0;
	padding :0;
	
	
}

.menulink {
	
	padding:10px;
	width:100px;
}


.footer {
	height:20px;
	clear: both;
	background-color: white;
}




#header_logo {
	height: 110px;
}